* {
    background-color: antiquewhite;
}

h1 {
    text-align: center;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

nav li {
    list-style: none;
    text-align: center;
    background-color: bisque;
}

nav li a {
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: 2em;
    background-color: blanchedalmond;
}