h1 {
    display: grid;
    text-align: center;
    background: url('./image.jpg');
    height: 200px;
    font-size: 5em;
    align-items: center;
    margin-top: 0px;
}

header {
    background: url(image.jpg);
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;

}


nav a {
    display: grid;
    text-decoration: none;
    color: black;
    font-weight: bolder;
    font-size: 2em;
    background-color: blanchedalmond;
    justify-content: center;
}

#usp {
    display: grid;
    grid-template-columns: 2fr 1fr 2fr 1fr 2fr;
    grid-template-rows: 1fr 1fr 1fr;
}



#usp div {
    border: 2px dotted black;
    border-radius: 30px;
    padding: 20px;
}

#usp1 {
    grid-column: 1;
    grid-row: 2;
}

#usp2 {
    grid-column: 3;
    grid-row: 4;
}

#usp3 {
    grid-column: 5;
    grid-row: 2;
}

#usp-image {
    grid-column: 3;
    grid-row: 2;
    margin-left: auto;
    margin-right: auto;
}